.banner-container{
    display: flex;

justify-content: space-around;
align-items: center;
background-color: pink
;
}
.btm{
background-color: deeppink;
border-radius: 10px;
width: 120px;
height: 50px;
color: white;
}
.offer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(252, 171, 171, 0.26);
}
.offer-text{
text-align: center;


}
.social-text{
    text-align: center;
    
}
.insta{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
   
}
.social-description{
    color: dimgrey;
}
.social-img{

    text-align: center;
    gap: 10px;
}

.email{
border: solid white;
width: 1400px;
height: 349px;
    background-image: url(/images/Rectangle\ 9.png);
border-radius: 10px;
padding: 10;
margin: 100px;

display: flex;
justify-content: space-around;
padding-top: 100px;
}
.email-text{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.email-text1{
    color: darkgray;
}
.box{
    display: flex;
    justify-content: space-around;
    
}
.footer{
    background-color: black;
    text-align: center;
    padding: 100px;
}
